<div class="table">

  <div class="table__title">
    <span>{{headline}}</span>
    <button>A-Z</button>
  </div>

  <div class="table__cards"
       [cdkDropListData]="cardsArray"
       (cdkDropListDropped)="drop($event)"
       cdkDropList>

    <app-card *ngFor="let item of cardsArray; let i = index"
              [title]="item"
              [description]="'bggbggv'"
              [tableId]="tableId"
              [index]="i"
              (indexDelete)="deleteCard($event)"
              cdkDrag>
    </app-card>

  </div>

  <app-table-footer></app-table-footer>

</div>


