<div class="table">

  <div class="table__title">
    <span>{{headline}}</span>
    <button [disabled]="cardsArray.length === ( 1 || 0 )"
            (click)="sortCardsByName()">Sort by Name</button>
  </div>

  <div class="table__cards"
       [cdkDropListData]="cardsArray"
       (cdkDropListDropped)="drop($event)"
       cdkDropList>

    <app-card class="card"
              *ngFor="let card of cardsArray"
              [card]="card"
              [cdkDragData]="card"
              [cdkDragDisabled]="dragDisabled"
              (isOpenEditor)="dragDisabled = $event"
              cdkDrag>
    </app-card>


  </div>

  <app-table-footer (newCard)="createCard($event)"></app-table-footer>

</div>

<!--<app-modal-error [isModal]="isError"-->
<!--                 [message]="'Server is not available! Please try again later'"-->
<!--                 (closed)="isError = $event">-->
<!--</app-modal-error>-->


