.table {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  background-color: #ebecf0;
  margin-right: 10px;

  &__title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    span {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: black;
    }

    button {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      color: black;
      border: none;
      background: transparent;
      outline: none;
    }
  }

  &__cards {
    width: 100%;
    min-height: 30px;
  }

  &__footer {
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 5px;

    &__text {
      color: #5e6c84;
      font-size: 20px;

      &:hover {
        color: #172b4d;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &:hover {
      background-color: rgba(9,30,66,.08);
    }

    span {
      font-family: fontawesome, sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #5e6c84;
      margin-right: 10px;
    }
  }
}
