.table {
  width: 300px;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  background-color: #ebecf0;
  margin-right: 10px;

  &__title {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    span {
      font-family: Roboto, sans-serif;
      color: #172b4d;
      font-size: 19px;
      font-weight: 700;
    }

    button {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      color: black;
      border: none;
      background: transparent;
      outline: none;
      padding: 3px;
      border-radius: 3px;

      &:hover {
        background-color: rgba(9,30,66,.08);
        color: #172b4d;
      }
    }
  }

  &__cards {
    width: 100%;
    min-height: 30px;
  }
}

.card {
  width: 90%;
  margin: 0 auto 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  cursor: pointer;
  max-width: 300px;
  min-height: 35px;
  max-height: 250px;
  overflow: auto;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  word-break: break-word;

  &:active {
    cursor: grabbing;
  }
}

.cdk-drag-placeholder {
  background-color: rgba(9,30,66,.04);
  border-radius: 4px;
  font-size: 0;
  box-shadow: none;
}

.cdk-drag-preview {
  //opacity: 0;
  //position: relative;
}

.drag-card{
  transform: rotate(30deg);
  width: 200px;
  height: 20px;
  background: red;
  z-index: 10000;
}
