<div class="start__page">

  <header class="start__page__header">
    <a routerLink="" class="start__page__header__logo">
      <img src="../../../assets/images/trello-logo-white.svg" width="160px" height="50px" alt="logo">
    </a>
    <div class="start__page__header__links">
      <a routerLink="/login" class="start__page__header__links__login">Login</a>
      <a routerLink="/register" class="start__page__header__links__register">Register</a>
    </div>
  </header>

  <div class="start__page__main">
        <div class="start__page__main__text">
          <h1>Trello lets you work more collaboratively and get more done.</h1>
          <p>Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a
            fun, flexible, and rewarding way.</p>
        </div>
        <div class="start__page__main__image">
          <img src="../../../assets/images/hero-a.svg" alt="background">
        </div>
  </div>

</div>
