<div class="boards">
  <div class="boards__headline">
    <span>
      <i class="fa fa-user" aria-hidden="true"></i>
      Personal Boards
    </span>
  </div>
  <div class="boards__list">
    <div class="boards__list__create">Create new board</div>
    <div class="boards__list__create">Create new board</div>
    <div class="boards__list__create">Create new board</div>
    <div class="boards__list__create">Create new board</div>
    <div class="boards__list__create">Create new board</div>
    <div class="boards__list__create">Create new board</div>
  </div>
</div>
