<div class="board">
  <app-board-header></app-board-header>
  <div class="board__main">
    <div class="board__main__tables">


      <div class="table">
        <div class="table__title">
          <span>Todo</span>
          <button>A-Z</button>
        </div>

        <div class="table__cards">
          <div class="card"> one task </div>
        </div>

        <div class="table__footer">
          <span class="fas fa-plus"></span>
          Add another card
        </div>

      </div>


      <div class="table">
        <div class="table__title">
          <span>Doing</span>
          <button>A-Z</button>
        </div>
      </div>



    </div>
  </div>
</div>
