<div class="board">
  <app-board-header [title]="board.title"
                    [boardId]="board.id">
  </app-board-header>
  <div class="board__main">
    <div class="board__main__tables" cdkDropListGroup>

      <app-table class="table__wrapper"
                 *ngFor="let cards of cardsArray; let i = index"
                 [headline]="tablesMap[i+1]"
                 [cardsArray]="cards"
                 [tableId]="i+1"
                 [boardId]="board.id">
      </app-table>

    </div>
  </div>

<!--  <app-modal-error [isModal]="isError"-->
<!--                   [message]="'Server is not available! Please try again later'"-->
<!--                   (closed)="isError = $event">-->
<!--  </app-modal-error>-->

  <router-outlet></router-outlet>

</div>
