<div class="board__header">
  <div class="board__header__title">
    <form *ngIf="editTitle"
          [formGroup]="form"
          (ngSubmit)="changeBoardTitle()">

      <input type="text"
             formControlName="boardTitle"
             maxlength="200"
             class="board__header__title__input"
             [value]="title"
             (blur)="changeBoardTitle()"
             appAutoFocusDirective
             AutoSizeInput
             [includePadding]="false">
    </form>

    <span *ngIf="!editTitle"
          (click)="editTitle = true"
          class="board__header__text">{{title}}</span>

    <button class="board__header__btn"
            id="invite"
            (click)="openInviteBlock($event)">Invite</button>

    <div *ngIf="isOpenInviteBlock"
         class="invite__board__block"
         [ngStyle]="{'top' : topPosition+'px', 'left' : leftPosition+'px'}">

      <div class="invite__board__block__title">
        <span class="invite__board__block__headline">Invite To Board</span>
        <span class="invite__board__block__close"
              (click)="isOpenInviteBlock = false; isCreateLink = false"></span>
      </div>

      <div class="invite__board__block__actions">
                <span class="invite__board__block__actions-text">
                  <img src="../../../assets/images/icon-link.svg" alt="link"
                       width="18px"
                       height="13px">Invite with Link</span>
                <span class="invite__board__block__actions__link"
                      (click)="generateLink()">{{isCreateLink ? 'Disable' : 'Create'}} link</span>
        <p>Anyone with link can join as board member</p>
      </div>

      <div *ngIf="isCreateLink"
           class="invite__board__block__url">
        <input class="invite__board__block__url-input"
               type="text"
               #hashLinkInput
               [value]="hashLink"
               readonly>
        <button class="invite__board__block__url-btn"
                (click)="copyInputMessage(hashLinkInput)">{{textInButton}}</button>
      </div>

    </div>

  </div>
</div>
