<div class="board__header">
  <div class="board__header__title">
    <form *ngIf="editTitle"
          [formGroup]="form"
          (ngSubmit)="changeBoardTitle()">

      <input type="text"
             formControlName="boardTitle"
             maxlength="200"
             class="board__header__title__input"
             [value]="title"
             (blur)="changeBoardTitle()"
             appAutoFocusDirective
             AutoSizeInput
             [includePadding]="false">
    </form>

    <span *ngIf="!editTitle"
          (click)="editTitle = true"
          class="board__header__text">{{title}}</span>

<!--    <div></div>-->

    <button class="board__header__btn" id="shared">Shared</button>

  </div>
  <button class="board__header__btn" (click)="isDelete = true">Delete board</button>
</div>
<app-modal-confirm [isModal]="isDelete"
                   (confirmed)="deleteBoard()"
                   (closed)="isDelete = false">
</app-modal-confirm>

<app-modal-error [isModal]="isError"
                 [message]="'Server is not available! Please try again later'"
                 (closed)="isError = $event">
</app-modal-error>
