.board__header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;

  form {
    display: flex;
    max-width: calc(100% - 150px);
  }

  &__title {
    display: flex;
    width: calc(100% - 150px);
    justify-content: flex-start;
    align-items: center;

    &__input {
      background-color: #fff;
      color: #172b4d;
      font-weight: 700;
      padding: 0 10px 0 10px;
      min-width: 5px;
      height: 35px;
      border: none;
      outline: none;
      box-shadow: inset 0 0 0 2px #0079bf;
      font-family: Roboto, sans-serif;
      font-size: 23px;
      box-sizing: content-box;
    }
  }

  &__text {
    font-family: Roboto, sans-serif;
    cursor: default;
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: calc(100% - 200px);
    max-height: 40px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: hsla(0,0%,100%,.32);
      cursor: pointer;
    }
  }

  &__btn {
    background-color: hsla(0,0%,100%,.24);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 32px;
    border: none;
    outline: none;

    &:hover {
      background-color: hsla(0,0%,100%,.32);
      cursor: pointer;
    }
  }
}

#invite {
  position: relative;
  margin-left: 40px;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    height: 20px;
    left: -45px;
    top: 10px;
    width: 1px;
    background: hsla(0,0%,100%,.24);
    margin: 0 20px;
  }
}

.invite__board__block {
  width: 350px;
  min-height: 120px;
  position: absolute;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 90%;
    height: 50px;
    border-bottom: 1px solid rgba(9, 30, 66, .13);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  &__headline {
    font-family: Roboto, sans-serif;
    color: #5e6c84;
    font-size: 18px;
  }

  &__close {
    font-family: Trello, sans-serif;
    font-size: 18px;
    color: #6b778c;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25px;
    right: 5px;

    &:hover {
      cursor: pointer;
      color: #172b4d;
    }

    &:before {
      content: "\E918"
    }
  }

  &__actions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-text {
      color: #172b4d;
      font-weight: 700;
      font-family: Roboto, sans-serif;
      font-size: 18px;

      img {
        margin-right: 5px;
      }
    }

    &__link {
      color: #0079bf;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      color: #5e6c84;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      margin: 5px 0 0 0;
    }
  }

  &__url {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    &-input {
      background-color: #fafbfc;
      box-shadow: inset 0 0 0 2px #ebecf0;
      border: none;
      color: #172b4d;
      box-sizing: border-box;
      -webkit-appearance: none;
      border-radius: 3px;
      display: block;
      line-height: 20px;
      padding: 8px 12px;
      width: 240px;
      height: 35px;
      font-size: 18px;
      transition-property: background-color,border-color,box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;
    }

    &-btn {
      background-color: #5aac44;
      box-shadow: none;
      border: none;
      color: #fff;
      border-radius: 4px;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      height: 35px;
      padding: 0 10px;
      font-weight: 400;
      outline: none;

      &:hover {
        cursor: pointer;
        background-color: #61bd4f;
      }
    }
  }
}
