<header class="main__header">

  <a routerLink="/boards" class="main__header__links__boards">
    <img width="18px" height="18px" src="../../../assets/images/trello-mark-white.svg" alt="mark">
    Boards
  </a>

  <img routerLink="/boards"
       class="main__header__logo"
       src="../../../assets/images/trello-logo-white.svg" alt="logo"
       width="90px"
       height="40px">

  <div class="main__header__user">
    <span class="main__header__user__name">{{name}}</span>
    <button (click)="logout()"
            class="main__header__user__logout">
            Log Out
    </button>
  </div>

</header>
