<header class="main__header">

  <a routerLink="/boards" class="main__header__links__boards">
    <img width="18px" height="18px" src="../../../assets/images/trello-mark-white.svg" alt="mark">
    Boards
  </a>

  <img routerLink="/boards"
       class="main__header__logo"
       src="../../../assets/images/trello-logo-white.svg" alt="logo"
       width="90px"
       height="40px">

  <div class="main__header__user"
       (click)="openUserBlock($event)">
       {{name | slice:0:1 | uppercase}}
  </div>

  <div *ngIf="isOpenUserBlock"
       [ngStyle]="{'top' : top+'px', 'left' : left+'px'}"
       class="main__header__user__dropdown">
    <div class="main__header__user__dropdown__title">
      <span class="main__header__user__dropdown__name">{{name}}</span>
      <span class="main__header__user__dropdown__close"
            (click)="isOpenUserBlock = false"></span>
    </div>
    <button (click)="logout()"
            class="main__header__user__dropdown__logout">
      Log Out
    </button>
  </div>

</header>
