<div class="boards">

  <div class="boards__headline">
    <span class="boards__headline-icon"></span>
    <span class="boards__headline-title">
      Personal Boards
    </span>
  </div>

  <div class="boards__list">

    <div *ngFor="let board of boards" [routerLink]="['/boards', board.id]"
         class="boards__list__single">
      <div>
        {{board.title}}
      </div>
      <span (click)="remove(board.id); $event.stopPropagation()"
         class="boards__list-delete"></span>
    </div>

    <div (click)="openModal()"
         class="boards__list__create">
      Create new board
    </div>

  </div>

  <app-modal-create [isOpen]="isOpen"
                    (closed)="isOpen = $event"
                    (newBoard)="create($event)">
  </app-modal-create>

  <app-modal-error [isModal]="isError"
                   [message]="'Server is not available! Please try again later'"
                   (closed)="isError = $event">
  </app-modal-error>
</div>
