<div [style.visibility]="isEdit ?  'visible': 'hidden'"
     [style.opacity]="isEdit ? '1' : '0'"
     (click)="close($event)"
     class="modal__wrapper">

  <div class="modal__card">

    <div class="modal__card__header">
      <span class="modal__card__header__cardIcon"></span>

      <textarea
          class="modal__card__title"
          (keydown.enter)="$event.target.blur()"
          (keydown.shift.enter)="$event.preventDefault()"
          [(ngModel)]="title"
          (change)="changeTitle()"></textarea>

      <span (click)="close($event)"
         class="modal__card__close"></span>

    </div>

    <div class="modal__card__description">

      <div class="modal__card__description__container">
        <span class="modal__card__description-icon"></span>
        <span class="modal__card__description__headline">Description</span>
        <button *ngIf="details.length && !isEditDescription"
                (click)="isEditDescription = true"
                class="modal__card__edit-btn">Edit</button>
      </div>


      <form *ngIf="isEditDescription"
            [formGroup]="form"
            (ngSubmit)="addDescription()">

        <textarea
                class="modal__card__description__text"
                placeholder="Add a more detailed description..."
                formControlName="descriptionText"
                (blur)="isEditDescription = false"
                [(ngModel)]="details"
                (change)="changeDetails()"
                appAutoFocusDirective></textarea>

        <div class="modal__card__description__btn-wrap">

          <button type="submit" class="modal__card__description-save">Save</button>
          <span (click)="changeDetails()"
                class="modal__card__description-close"></span>
        </div>

      </form>

      <p *ngIf="details.length && !isEditDescription"
         (click)="isEditDescription = true"
        class="modal__card__description__content">{{details}}</p>

      <p *ngIf="!details.length && !isEditDescription"
         (click)="isEditDescription = true"
        class="modal__card__description__preview">Add a more detailed description...</p>
    </div>
  </div>

</div>
