<div [style.visibility]="isEdit ?  'visible': 'hidden'"
     [style.opacity]="isEdit ? '1' : '0'"
     (click)="close($event)"
     class="modal__wrapper">

  <div class="modal__card">

    <div class="modal__card__header">
      <i class="fa fa-credit-card" aria-hidden="true"></i>

      <textarea
          class="modal__card__title"
          (keydown.enter)="$event.target.blur()"
          (keydown.shift.enter)="$event.preventDefault()"
          (change)="showTitle()"
          [(ngModel)]="title"></textarea>

      <i (click)="close($event)"
         class="fa fa-times"
         aria-hidden="true"></i>

    </div>

    <div class="modal__card__description">
      <h1>
        Description
      </h1>

      <textarea>
        Bladsad
      </textarea>

    </div>
  </div>

<!--  <div  class="modal__card__window">-->
<!--    <button class="close_modal" (click)="close()">&#10006;</button>-->
<!--    <span class="modal_text">{{message}}</span>-->
<!--  </div>-->

</div>
