<div class="start__page">

  <app-start-header [isLogout]="false"></app-start-header>

  <div class="start__page__main">
        <div class="start__page__main__text">
          <h1><b>Trello</b> lets you work more collaboratively and get more done.</h1>
          <p>Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun,
            flexible, and rewarding way.</p>
        </div>
        <div class="start__page__main__image">
          <img src="../../../../assets/images/hero-a.svg" alt="picture">
        </div>
  </div>

</div>
