.table__footer {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto 5px;

  &__text {
    color: #5e6c84;
    font-size: 20px;

    &:hover {
      color: #172b4d;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  span {
    font-family: fontawesome, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #5e6c84;
    margin-right: 10px;
  }
}
