<div class="table__footer">

  <form *ngIf="isOpen"
        class="add-card"
        [formGroup]="form"
        (ngSubmit)="addCard()">

    <textarea placeholder="Enter a title for this card..."
              formControlName="title"
              #text
              tabindex="0"></textarea>

    <div class="add-card__wrapper">

      <button [ngClass]="{disabled: form.invalid}"
              [disabled]="form.invalid"
              type="submit"
              class="add-card__btn">
              Add Card
      </button>
      <span class="add-card__close" (click)="close()"></span>
    </div>
  </form>

  <div class="table__footer__wrapper"
        *ngIf="!isOpen">
    <span class="table__footer__plus"></span>
    <span class="table__footer__text"
          (click)="openForm()">
          Add another card
    </span>
  </div>

</div>
