<div class="table__footer">

  <form class="add-card"
        *ngIf="isOpen"
        [formGroup]="form"
        (ngSubmit)="create()">
    <textarea placeholder="Enter a title for this card..."></textarea>

    <div class="add-card__wrapper">

      <button [ngClass]="{disabled: form.invalid}"
              [disabled]="form.invalid"
              type="submit"
              class="add-card__btn">
        Add Card
      </button>
      <i class="fa fa-close" (click)="close()"></i>

    </div>
  </form>

  <div class="table__footer__wrapper"
        *ngIf="!isOpen">
    <span class="fas fa-plus"></span>
    <span class="table__footer__text"
    (click)="addCard()">Add another card</span>
  </div>

</div>
