<div class="table__footer">

  <form *ngIf="isOpen"
        class="add-card"
        [formGroup]="form"
        (ngSubmit)="addCard()">
    <label>
<textarea placeholder="Enter a title for this card..."
          formControlName="title"
          #text
          tabindex="0"></textarea>
    </label>

    <div class="add-card__wrapper">

      <button [ngClass]="{disabled: form.invalid}"
              [disabled]="form.invalid"
              type="submit"
              class="add-card__btn">
              Add Card
      </button>
      <i class="fa fa-close" (click)="close()"></i>
    </div>
  </form>

  <div class="table__footer__wrapper"
        *ngIf="!isOpen">
    <span class="fas fa-plus"></span>
    <span class="table__footer__text"
          (click)="openForm()">
          Add another card
    </span>
  </div>

</div>
