<div class="card"
     (click)="isEdit = true">
  {{title}}
  <span *ngIf="description" class="card__description-icon"></span>
</div>

<app-modal-edit-card [isEdit]="isEdit"
                     [title]="title"
                     [description]="description"
                     [index]="index"
                     (closed)="isEdit = $event"
                     (changedTitle)="title = $event"
                     (changedDescription)="description = $event"
                     (deletedCard)="deleteCard($event)"></app-modal-edit-card>
