<div class="card__wrapper"
     (mouseenter)="isShowEditTitleIcon = true"
     (mouseleave)="isShowEditTitleIcon = false">

  <span class="card__container">
    {{card.title}}
    <span [style.display]="isShowEditTitleIcon ? 'block':'none'"
          (click)="openEditorTitle($event)"
          class="card__menu"></span>
  </span>

  <span *ngIf="card.description" class="card__description-icon"></span>
</div>

<div class="form__container"
     *ngIf="isOpenEditTitle"
     (click)="closeEditorTitle($event)">

  <form class="form"
        [formGroup]="form"
        (ngSubmit)="changeCardTitle()"
        [ngStyle]="{'top' : top+'px', 'left' : right+'px'}">

    <textarea formControlName="titleCard"
              maxlength="200"
              (keydown.enter)="form.invalid ? $event.preventDefault() : changeCardTitle()"
              (keydown.shift.enter)="$event.preventDefault()"
              appAutoFocusDirective
              autosize
              [minRows]="3"></textarea>

      <button [ngClass]="{disabled: form.invalid}"
              [disabled]="form.invalid"
              type="submit"
              class="form__btn">Save</button>
  </form>

  <span class="form__close" (click)="closeEditorTitle($event)"></span>

</div>

<app-modal-error [isModal]="isError"
                 [message]="'Sorry, failed to change title! Please try again later'"
                 (closed)="isError = $event">
</app-modal-error>
