.card {
  width: 90%;
  margin: 0 auto 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  max-width: 300px;
  min-height: 35px;
  max-height: 250px;
  overflow: auto;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  word-break: break-word;

  &__description-icon{
    font-family: Trello, sans-serif;
    font-size: 18px;
    color: #172b4d;
    margin-top: 5px;

    &:before {
      content: "\E91D";
    }
  }
}
