.card__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

.card__description-icon {
  font-family: Trello, sans-serif;
  font-size: 20px;
  color: #172b4d;
  margin: 5px 0 10px 10px;

  &:before {
    content: "\E91D";
  }
}

.card__menu {
  font-family: Trello, sans-serif;
  font-size: 23px;
  background-color: #f4f5f7;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: 0.8;
  padding: 5px;
  right: 2px;
  top: 2px;
  color: #42526e;
  margin-right: 3px;

  &:hover {
    background-color: #ebecf0;
    opacity: 1;
  }

  &:before {
    content: "\E923";
  }
}

.form__container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);

  .form {
    width: 270px;
    position: absolute;

    textarea {
      border: none;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
      font-family: Roboto, sans-serif;
      font-size: 20px;
      resize: none;
      width: 100%;
      height: 80px;
      padding: 5px 0 0 5px;
      margin-bottom: 5px;
      outline: none;
    }
  }
}

.form__btn {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  width: 90px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding: 0;
  font-weight: 400;
  align-self: flex-start;
  outline: none;
  cursor: pointer;
}

.form__close {
  color: hsla(0, 0%, 100%, 0.6);
  padding: 9px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition-property: transform,color;
  transition-duration: 0.15s;
  font-family: Trello, sans-serif;
  font-size: 30px;

  &:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
  }

  &:before {
    content: "\E918";
  }
}

.disabled {
  background-color: darkgray;
  color: white;
  cursor: not-allowed;
}
