<header [ngClass]="{logout__header: isLogout}" class="start__header">

  <a routerLink="" [ngClass]="{logout__logo: isLogout}" class="start__header__logo">
    <img
      [src]="'../../../assets/images/trello-logo-' + (isLogout ? 'black.svg' : 'white.svg')"
      width="160px" height="40px" alt="logo">
  </a>
  <div class="start__header__links">
    <a routerLink="/login"
       [ngClass]="{logout__login__link : isLogout}"
       class="start__header__links__login">Login</a>

    <a routerLink="/sign-up"
       [ngClass]="{logout__register__link : isLogout}"
       class="start__header__links__register">Register</a>
  </div>

</header>
