<div [style.visibility]="isOpen ?  'visible': 'hidden'"
     [style.opacity]="isOpen ? '1' : '0'"
     class="modal_wrapper">

  <form class="modal-create" [formGroup]="form" (ngSubmit)="create()">

    <span class="modal-create-close" (click)="close()"></span>

    <input formControlName="title"
           class="modal-create__input"
           type="text"
           placeholder="Add board title">

    <button [ngClass]="{disabled: form.invalid}"
            [disabled]="form.invalid"
            type="submit"
            class="modal-create__btn">
            Create board
    </button>

  </form>

</div>
