<form class="auth__form" [formGroup]="form" (ngSubmit)="submit()">

  <h1 class="auth__form__headline">Create a Trello Account</h1>
  <a routerLink="/login" class="auth__form__link">or sign in to your account</a>

  <span class="warning" *ngIf="authService.error$ | async as error">
    {{error}}
  </span>

  <label for="email" class="auth__form__label">Email</label>
  <input [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
          formControlName="email"
          type="email"
          id="email"
          class="auth__form__input"
          name="email">

  <label for="name" class="auth__form__label">Name</label>
  <input [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
           formControlName="name"
           type="text"
           id="name"
           class="auth__form__input"
           name="name">

  <label for="pass" class="auth__form__label">Password</label>
  <input [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
          formControlName="password"
          type="password"
          id="pass"
          class="auth__form__input"
          name="password">

  <div class="warning"
        *ngIf="(form.get('password').touched && form.get('password').errors)">
    Minimum password length 8 characters</div>

  <button type="submit"
          class="auth__form__submit"
          [ngClass]="{disabled: form.invalid}"
          [disabled]="form.invalid">
          Create New Account</button>

  <div (click)="signInWithGoogle()"
       id="google-link"
       class="google-button"
       tabindex="0">
    <span class="icon"></span>
    <span class="label" data-gas-action-subject-id="loginWithGmailButton">Sign up with Google</span>
  </div>

</form>

<app-modal-error [isModal]="isError"
                 [message]="'Server is not available! Please try again later'"
                 (closed)="isError = $event"></app-modal-error>
